====Version 0.1
Document date	4.28.2020

Provide find function and output results arcoss different sites using API
1. Able to find charater's figuring across different sites
	0.1 must have 	-Amazon
			-ebay
2. Get a quote from the sites and display the results

====upcoming function 
	more sites in US
	logo
	User logins
		-account managments like recomendations and stuff like that
	Provide Shipping estimate (order from site later on?)
	Translation for more sites in the world(China for non-official and Japan for official?)
	Charater/Company/Serious Database for faster access
	